.bg {
   background-color: rgb(162, 162, 223);
   height: 650px;
   padding: 10px;
   
} 


form{
background-color: white;
padding: 30px;
width: 300px;
margin:auto;
}

.container{
    
    
    margin-top: 150px;
}

    a:HOVER {
        color: blue;	
    
}


button{
    float: right;
    margin-right:-120px ;
    margin-top: 20px;
}

.forgot {
    float:right;
    cursor: pointer;
    margin-right:50px ;
    margin-top: 10px;

}