.container{
    margin-top: 150px;
}

form{
    background-color: white;
    padding: 30px;
    width: 300px;
    margin:auto;
    }
    
    .bg {
        background-color: rgb(106, 106, 194);
        height: 650px;
        padding: 10px;
        
     } 
     