td{
    border-top:1px solid black;

}
table {
    border:1px solid black;
}
td{
    border-top:1px solid black;
width: 200px;
margin-right:50px ;
text-align: center;

}
button{
    margin-left: 100px;
    margin-top: 20px;
    padding:10px;
    background-color: blue;
    color:white ;

}
button:hover{
background-color:green;
color:white ;
}